
<h1> DIRECTORY BOX</h1>
<div align="center"> 
submit your business to Localeze
</div>
<br><br>

<%= form_tag "/send" do %>
  <div align="center">
  <%= text_field_tag :business_name, nil, placeholder:"Business Name"%>
</div>
<%end %> 

 <% @search_result.to_a.each do |e| %>
 <%= link_to "select", "/manage/#{e["id"]}"%> 
 <%= "#{e["business_name"]}, #{e["city"]}, #{e["state"]}, #{e["phone"]}" %> 
 <br><br>
 <% end %>
