
<h1> Test </h1>
<form action="/send">
<div align="center">
<br><br>
<input name="business_name" type="text" size="25" placeholder="Business Name">
<br><br>
</div>
</form>

 <% @search_result.to_a.each do |e| %>
 <%= link_to "Test", "/localeze/#{e["id"]}"%> 
 <% end %>


